<input type="{{type}}" value="{{value}}" name="{{name}}" {{#if isRequired}}required{{/if}}>
{{#if text}}<span class="label">{{text}}</span>{{/if}}
{{{error}}}

<textarea name="message" placeholder="{{placeholder}}"></textarea>
