<section id="chat">
    <div class="sidebar">
        <div class="head">
            <span class="profile" data-click="toggleAccountVisibility">Профиль</span>
            <form class="search">
                <input type="text" required>
                <span>Поиск</span>
            </form>
        </div>
        <div class="content">
            <ul class="chat-list">
                {{#each chatList}}
                    <li class="chat-list__item">
                        <div class="image no-image"></div>
                        <div class="text">
                            <h4>{{name}}</h4>
                            <div class="message">
                                {{message}}
                            </div>
                        </div>
                        <div class="time">{{date}}</div>
                        <div class="messages-count">{{countMessages}}</div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="main">
        <!-- <div class="empty">
            <h3>Выберите чат чтобы отправить сообщение</h3>
        </div> -->
        <div class="chat">
            <div class="header">
                <div class="user">
                    <div class="image no-image"></div>
                    Вадим
                </div>
                <div class="dropdown">
                    <div class="dropdown__icon">
                        <img src="img/actions.svg" alt="">
                    </div>
                    <div class="dropdown__block">
                        <ul>
                            <li data-click="addUser">
                                <img src="img/add.svg" alt="">
                                Добавить пользователя
                            </li>
                            <li data-click="removeUser">
                                <img src="img/remove.svg" alt="">
                                Удалить пользователя
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="body">
                <div class="day">
                    {{#each currentChat}}
                        {{!-- TODO: paste date here --}}
                        {{!-- <div class="date">19 июня</div> --}}
                        {{!-- {{{date}}} --}}
                        <div class="message {{userId}}{{#if checked}} checked{{/if}}">
                            <div class="content">
                                {{{message}}}
                            </div>
                            <div class="time">{{date}}</div>
                        </div>
                    {{/each}}
                </div>
            </div>
            <form class="footer">
                <div class="dropdown">
                    <div class="dropdown__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.18662 13.5L14.7628 5.92389L15.7056 6.8667L8.12943 14.4428L7.18662 13.5Z" fill="#999999"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.70067 16.0141L17.2768 8.43793L18.2196 9.38074L10.6435 16.9569L9.70067 16.0141Z" fill="#999999"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.0433 21.3567L22.6195 13.7806L23.5623 14.7234L15.9861 22.2995L15.0433 21.3567Z" fill="#999999"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5574 23.8708L25.1335 16.2946L26.0763 17.2374L18.5002 24.8136L17.5574 23.8708Z" fill="#999999"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5574 23.8709C14.9423 26.486 10.7118 26.4954 8.10831 23.8919C5.50482 21.2884 5.51424 17.0579 8.12936 14.4428L7.18655 13.5C4.0484 16.6381 4.0371 21.7148 7.16129 24.839C10.2855 27.9632 15.3621 27.9518 18.5003 24.8137L17.5574 23.8709Z" fill="#999999"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M22.6195 13.7806L23.5623 14.7234C26.003 12.2826 26.0118 8.3341 23.5819 5.90417C21.152 3.47424 17.2035 3.48303 14.7627 5.92381L15.7055 6.86662C17.6233 4.94887 20.7257 4.94196 22.6349 6.85119C24.5441 8.76042 24.5372 11.8628 22.6195 13.7806Z" fill="#999999"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.70092 16.0144C7.95751 17.7578 7.95123 20.5782 9.68689 22.3138C11.4226 24.0495 14.2429 24.0432 15.9863 22.2998L15.0435 21.357C13.8231 22.5774 11.8489 22.5818 10.6339 21.3668C9.41894 20.1518 9.42334 18.1776 10.6437 16.9572L9.70092 16.0144Z" fill="#999999"/>
                        </svg>
                    </div>
                    <div class="dropdown__block">
                        <ul>
                            <li>
                                <label>
                                    <input type="file" accept="image/*,video/mp4,video/x-m4v,video/*">
                                    <img src="img/photo&video.svg" alt="">
                                    Фото или Видео
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="file">
                                    <img src="img/file.svg" alt="">
                                    Файл
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="file">
                                    <img src="img/location.svg" alt="">
                                    Локация
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="type-text">
                    <textarea name="message" placeholder="Сообщение"></textarea>
                </div>
                <button type="submit" class="submit"></button>
            </form>
        </div>
    </div>
</section>
<div class="modal form add-user">
    <h3 class="title">Добавить пользователя</h3>
    <form>
        <label class="input-wrap">
            <input type="text" required>
            <span class="label">Логин</span>
        </label>
        <button type="submit" class="btn">Добавить</button>
    </form>
</div>
<div class="modal form remove-user">
    <h3 class="title">Удалить пользователя</h3>
    <form>
        <label class="input-wrap">
            <input type="text" required>
            <span class="label">Логин</span>
        </label>
        <button type="submit" class="btn">Удалить</button>
    </form>
</div>
<div class="modal form change-avatar">
    <h3 class="title">Загрузите файл</h3>
    <h3 class="title error-title" style="display: none;">Ошибка, попробуйте ещё раз</h3>
    <form>
        <label class="file-wrap">
            <input type="file" name="avatar" accept="image/*">
            <span class="label link">Выбрать файл на <br>компьютере</span>
            <span class="filename"></span>
        </label>
        <div class="error" style="display: none;">Нужно выбрать файл</div>
        <button type="submit" class="btn">Поменять</button>
    </form>
</div>