<div class="sidebar">
    <div class="head">
        {{{accountBtn}}}
        <form class="search">
            <input type="text" required>
            <span>Поиск</span>
        </form>
    </div>
    <div class="content">
        <ul class="chat-list">
            {{{chatList}}}
        </ul>
    </div>
</div>
<div class="main">
    {{!-- TODO: Add when api will be ready --}}
    <!-- <div class="empty">
        <h3>Выберите чат чтобы отправить сообщение</h3>
    </div> -->
    <div class="chat">
        {{{chat}}}
        {{!-- {{{form}}} --}}
    </div>
</div>
{{{modals}}}
