<div class="image no-image">{{#if avatar}}
    <img src="{{avatar}}" alt="{{name}}" />{{/if}}</div>
<div class="text">
  <h4>{{name}}</h4>
  <div class="message">
    {{message}}
  </div>
</div>
<div class="time">{{date}}</div>
{{#if countMessages}}<div class="messages-count">{{countMessages}}</div>{{/if}}