{{{backBtn}}}
<div class="wrap">
    <div class="container">
        {{title}}
        {{{accountPhoto}}}
        <h2>Иван</h2>
        {{{form}}}
        <ul class="links">
            {{{links}}}
        </ul>
    </div>
</div>
{{{modals}}}
